*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* .App {
  text-align: center;
} */
h1{
  text-align: center;
}
.checkBox{
  display: flex;
  flex-wrap: wrap ;
  width: 90%;
  height: auto;
  margin-left: auto;
  margin-right: auto;

}
.checkBox label{
  flex: 1 0 8%;
}
.checkBox label .input_con{
  background-color:rgb(124, 181, 236);
  width: 5%;
  height: 20px;
  border-radius: 5px;
  color: azure;
}
@media screen and (max-width:991px) {
  .checkBox label{
    flex: 1 0 15%;
  }
}
@media screen and (max-width:600px) {
  .checkBox label{
    flex: 1 0 25%;
  }
}